# Ignorar o ambiente virtual do Python
venv/
.Venv/
ENV/
env.bak/
venv.bak/

# Ignorar arquivos de compilação do Python
__pycache__/
*.py[cod]
*$py.class

# Ignorar arquivos de log
*.log

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
